{% extends "blogs/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<!-- Masthead-->
<header class="masthead">
  <div class="container">
    <div class="masthead-subheading">{{post.title}}</div>
  </div>
</header>


<section>
<!-- Forum post-->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-6 col-sm-4">
      <div class="modal-body">
        <!-- post details-->
        <h2 class="text-uppercase">{{post.title}}</h2>
        <img class="img-fluid d-block mx-auto" src="{{post.image.url}}" alt="..." />
        <p>{{post.content}}</p>
        <ul class="list-inline">
          <li>
            <strong>Author:</strong>
            {{post.author}}
          </li>
          <li>
            <strong>Date:</strong>
            {{post.publish}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div>
<!-- post comment-->
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-5 col-sm-4">
            {% with comments.count as total_comments %}
            <h4>{{ total_comments }} comment{{total_comments|pluralize }}</h4>
            {% endwith %}
            {% for comment in comments %}
            <div class="comment mt-4 text-justify float-left"> <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="40" height="40">
                <h4>{{comment.name}}</h4> <span>- {{comment.created}}</span> <br>
                <p>{{comment.body}}</p>
            </div>
            {% endfor %}
        </div>
        <div class="col-lg-6 col-md-5 col-sm-4">
          <h4>Leave a Comment</h4>
          <form method="post">
            {{ comment_form | crispy}}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
          </form>
        </div>
    </div>
</div>
</section>

{% endblock %}
