            <div class="col-lg-4 col-sm-6">
                <div class="input-group rounded">
                    <form method='GET' class='' action="{% url 'blogs:project_search'%}">
                        <input type="text" name="query" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>
            </div>
