{% extends "blogs/base.html" %}

{% block content %}

<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">{{post.title}}</div>
    </div>
</header>

        <!-- Forum Modals-->
        <section>

                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- post details-->
                                    <h2 class="text-uppercase">{{post.title}}</h2>
                                    <img class="img-fluid d-block mx-auto" src="{{post.image.url}}" alt="..." />
                                    <p>{{post.content}}</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Author:</strong>
                                            {{post.author}}
                                        </li>
                                        <li>
                                            <strong>Date:</strong>
                                            {{post.publish}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
          </section>

    {% endblock %}
