{% load blog_tags %}
<div class="card mb-4">
    <div class="card-header">Categories</div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <ul class="list-unstyled mb-0">
                    {% show_list_postcategory as categories %}
                    {% for category in categories %}
                    <li><a href="{% url 'blogs:post_list' category.name %}">{{category.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">Most commented posts</div>
    <div class="card-body">
        <div class="row">
          {% get_most_commented_posts as commented %}
          {% for post in commented %}
          <div class="col-sm-6">
            <div class="card mb-4">
              <a href="{{ post.get_absolute_url }}"><img class="card-img-top" src="{{post.image.url}}" alt="..." /></a>
              <div class="card-body">
                <a href="{{ post.get_absolute_url }}">{{post.title}}</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
</div>
